<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grl.nietzscheapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aula1"
            android:configChanges="orientation"
            android:screenOrientation="locked" />
        <activity android:name=".aula2" />
        <activity android:name=".aula3" />
        <activity android:name=".aula4" />
        <activity android:name=".aula5" />
        <activity android:name=".aula6" />
        <activity android:name=".aula7" />
        <activity android:name=".aula8" />
        <activity android:name=".aula9" />
        <activity android:name=".aula10" />
        <activity android:name=".aula11"></activity>
    </application>

</manifest>